@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196F3;
  --section-color-1: #2F303A;
  --section-color-2: #ECECEC;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
}

button:hover,
button:focus {
  font-family: inherit;
}

body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 410px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1150px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 410px) {
  .section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1150px) {
  .section-padding {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
h1 {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 410px) {
  .suptitle {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1150px) {
  .suptitle {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 410px) {
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .contact-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .modal-form__field {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.9;
    letter-spacing: 0.01em;
    color: #757575;
  }
  .modal-form__svg {
    position: absolute;
    left: 12px;
    top: 11px;
    transform: fill var(--transition-dur-and-func);
  }
  .modal-form__icon {
    display: block;
    position: relative;
  }
  .modal-form__input {
    padding: 11px 12px;
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transform: border-color var(--transition-dur-and-func);
  }
  .modal-form__input.comment {
    height: 120px;
    padding-left: 16px;
  }
  .modal-form__input:hover {
    cursor: pointer;
  }
  .modal-form__input:focus {
    outline: none;
    border-color: var(--accent-color);
    cursor: auto;
  }
  .modal-form__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .modal-form__btn {
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 52px;
    max-width: 200px;
    border: none;
    align-self: center;
    transition: background-color var(--transition-dur-and-func), filter var(--transition-dur-and-func);
  }
  .modal-form__btn:hover, .modal-form__btn:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .modal-form__check {
    border: 1px solid #212121;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 7px;
  }
  .modal-form__check-icon {
    display: none;
  }
  textarea {
    resize: none;
    padding: 8px;
  }
  .modal-form__input:focus + .modal-form__svg {
    fill: var(--accent-color);
  }
  .contact-agreement {
    color: var(--accent-color);
  }
  .modal-form__policy:checked + .modal-form__check {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  .modal-form__policy:focus + .modal-form__check {
    outline: 2px solid rgba(0, 0, 255, 0.5);
  }
  .modal-form__policy:checked + .modal-form__check .modal-form__check-icon {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .modal-form__input {
    width: 370px;
  }
}
@media screen and (min-width: 1150px) {
  .modal-form__input {
    width: 448px;
  }
  .modal-form__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
.modal {
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 41px;
}
.modal__close-btn {
  position: absolute;
  padding: 6px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  transition: border var(--transition-dur-and-func);
  transition: fill var(--transition-dur-and-func);
  cursor: pointer;
}
.modal__close-btn:hover, .modal__close-btn :focus {
  border: 1px solid var(--accent-color);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  color: var(--section-color-1);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.logo__logo-header {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 15px;
  }
  .menu {
    display: none;
  }
  .mail-header {
    display: none;
  }
  .phone-header {
    display: none;
  }
  .mobile-menu-btn {
    background-color: #FFFFFF;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ECECEC;
  }
  .page-navigation {
    display: flex;
    align-items: center;
    column-gap: 93px;
  }
  .menu {
    display: flex;
    column-gap: 50px;
  }
  .menu__link {
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link_current {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.9px;
    letter-spacing: 0.02em;
  }
  .menu__line::after {
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    margin-top: 30px;
    position: absolute;
    z-index: 1;
  }
  .menu__line.line-portfolio::after {
    width: 78px;
  }
  .menu-contact {
    display: flex;
    flex-direction: column;
  }
  .mail-header,
.phone-header {
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color var(--transition-dur-and-func);
  }
  .mail-header:hover, .mail-header:focus,
.phone-header:hover,
.phone-header:focus {
    color: var(--accent-color);
  }
  .mail-header {
    margin-left: auto;
    margin-bottom: 10px;
  }
  .mail__icon {
    margin-right: 8px;
    fill: #757575;
    transition: fill var(--transition-dur-and-func);
  }
  .phone__icon {
    margin-right: 8px;
    fill: #757575;
    transition: fill var(--transition-dur-and-func);
  }
  .mail:focus .mail__icon,
.mail:hover .mail__icon {
    fill: var(--accent-color);
  }
  .phone:focus .phone__icon,
.phone:hover .phone__icon {
    fill: var(--accent-color);
  }
  .mobile-menu-btn {
    display: none;
  }
}
@media screen and (min-width: 1150px) {
  .header__container {
    display: flex;
    align-items: center;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .menu-contact {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 30px;
  }
  .menu__line::after {
    margin-top: 29px;
  }
  .mail-header {
    margin-bottom: 0px;
  }
  .mail__icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill var(--transition-dur-and-func);
  }
  .phone__icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill var(--transition-dur-and-func);
  }
}
.footer .mail:hover,
.footer .mail:focus,
.footer .phone:hover,
.footer .phone:focus {
  color: var(--accent-color);
}

.solution {
  background-color: var(--primary-text-color);
  background-repeat: no-repeat;
  background-position: center;
}

.solution__btn {
  background-color: var(--accent-color);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  border: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.solution__btn:hover, .solution__btn:focus {
  background-color: #188CE8;
}
.solution__btn__div-btn {
  transition: background-color var(--transition-dur-and-func);
}

@media screen and (min-width: 410px) {
  .solution {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/title_mobile-1x.jpg");
  }
}
@media screen and (min-width: 410px) and (min-device-pixel-ratio: 2), screen and (min-width: 410px) and (min-resolution: 192dpi), screen and (min-width: 410px) and (min-resolution: 2dppx) {
  .box {
    background-image: url("../images/title_mobile-2x.jpg");
  }
}
@media screen and (min-width: 410px) {
  .solution__title {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .solution {
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: 768рх;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/title_laptop-1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .box {
    background-image: url("../images/title_laptop-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .solution__title {
    width: 360px;
  }
}
@media screen and (min-width: 1150px) {
  .solution {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600рх;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/title.jpg");
  }
}
@media screen and (min-width: 1150px) and (min-device-pixel-ratio: 2), screen and (min-width: 1150px) and (min-resolution: 192dpi), screen and (min-width: 1150px) and (min-resolution: 2dppx) {
  .box {
    background-image: url("../images/title-2x.jpg");
  }
}
@media screen and (min-width: 1150px) {
  .solution__title {
    width: 696px;
    font-size: 44px;
  }
}
@media screen and (min-width: 410px) {
  .advantage {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .advantage-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .advantage-list__title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
  .advantage-list__description {
    color: var(--second-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  .advantage-list__div {
    padding: 25px;
    background-color: #F5F4FA;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .advantage-list__div {
    padding: 25px 142px;
  }
  .advantage-list__title {
    text-align: left;
  }
  .advantage-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1150px) {
  .advantage {
    padding-bottom: 47px;
    padding-top: 94px;
  }
  .advantage-list {
    display: flex;
    column-gap: 30px;
    flex-basis: calc((100% - 90px) / 4);
  }
  .advantage-list__div {
    padding: 25px 100px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  }
  .advantage-list__item {
    width: 270px;
  }
}
@media screen and (max-width: 1149px) {
  .occasions-mobile {
    display: none;
  }
}
@media screen and (min-width: 1150px) {
  .occasions {
    padding-top: 47px;
  }
  .occasions__title {
    padding-bottom: 50px;
  }
  .occasions-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
  }
  .occasions-list__text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }
  .occasions-list__section {
    position: relative;
  }
  .occasions-list__description {
    position: absolute;
    padding: 27px;
    width: 370px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
@media screen and (min-width: 410px) {
  .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    flex-basis: calc((100% - 90px) / 4);
  }
  .team-list__description {
    padding-top: 28px;
    padding-bottom: 24px;
  }
  .team-list__item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team-list__member {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .team-list__name {
    color: var(--second-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  .team-list__photo {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__photo {
    width: 354px;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1150px) {
  .team-list__photo {
    width: 270px;
  }
  .team-list {
    flex-direction: row;
    column-gap: 30px;
    flex-basis: calc((100% - 90px) / 4);
  }
  .team-list__description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team-list__member {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .team-list__name {
    color: var(--second-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
}
.team {
  background-color: #F5F4FA;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social__link {
  display: flex;
  border-radius: 50%;
  padding: 12px;
  transition: background-color var(--transition-dur-and-func);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  transition: fill var(--transition-dur-and-func);
  fill: #FFFFFF;
}

.social__icon {
  fill: #AFB1B8;
}

@media screen and (min-width: 410px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    flex-basis: calc((100% - 30px) / 2);
    justify-content: space-between;
  }
  .clients-list__company {
    display: flex;
    justify-content: center;
  }
  .clients-list__item {
    padding: 16px 50px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border var(--transition-dur-and-func);
    fill: #AFB1B8;
  }
  .clients-list__item:hover, .clients-list__item:focus {
    border: 1px solid #2196F3;
    fill: #2196F3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .clients-list__icon {
    transition: fill var(--transition-dur-and-func), filter var(--transition-dur-and-func);
  }
  .clients-list__icon:hover, .clients-list__icon:focus {
    fill: #2196F3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients-list__item {
    padding: 16px 59px;
  }
}
@media screen and (min-width: 1150px) {
  .clients-list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 30px;
    flex-basis: calc((100% - 150px) / 6);
    justify-content: center;
  }
  .clients-list__item {
    padding: 16px 32px;
  }
}
@media screen and (min-width: 410px) {
  .sub {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .sub__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .sub__sent {
    position: absolute;
    right: 28px;
    transform: translateY(55%);
  }
  .sub__span {
    display: blocks;
    position: relative;
  }
  .sub__gmail {
    width: 100%;
    height: 50px;
    background-color: var(--section-color-1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    margin-right: 12px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .sub__gmail::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .sub .contact-form-buttomn {
    padding: 10px 28px;
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    padding-right: 62px;
  }
}
@media screen and (min-width: 1150px) {
  .sub {
    margin-left: 93px;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    text-align: left;
  }
  .sub__gmail {
    width: 358px;
    margin-bottom: 0px;
  }
}
.footer {
  background-color: var(--section-color-1);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 410px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-footer {
    color: #FFFFFF;
  }
  .logo-adress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mail,
.phone {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
  }
  .footer-adress {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .footer-adress__place {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
  }
  .footer-contact-list {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    align-items: center;
  }
  .logo-footer__web {
    color: #2196F3;
  }
  .connect-link {
    padding-bottom: 60px;
    text-align: center;
  }
  .connect-us {
    margin-bottom: 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .social__icon-footer {
    fill: #FFFFFF;
  }
  .social__link-footer {
    display: flex;
    border-radius: 50%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-func);
  }
  .social__link-footer:hover, .social__link-footer:focus {
    background-color: #2196F3;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-adress {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    text-align: center;
  }
  .logo-adress {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1150px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .footer-adress {
    margin-top: 20px;
    align-items: flex-start;
  }
  .footer-adress__place {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
  }
  .footer-adress-contact {
    margin-top: 9px;
  }
  .sub__form {
    margin-top: 8px;
  }
  .footer-contact-list {
    align-items: flex-start;
  }
  .logo-adress {
    margin-right: 0px;
    align-items: flex-start;
  }
  .connect-link {
    padding-left: 70px;
    margin-top: 12px;
  }
  .connect-us {
    text-align: left;
  }
  .social__icon-footer {
    fill: #FFFFFF;
  }
}
.portfolio__btn {
  background-color: #F5F4FA;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-h1 {
  color: #212121;
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  text-align: left;
}

.portfolio__description {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio__list {
  display: flex;
  margin-bottom: 52px;
  justify-content: center;
  gap: 8px;
}

.portfolio__padding {
  padding-left: auto;
  padding-right: auto;
}

.portfolio__works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio__div {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio__item {
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  padding: 63px 24px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms linear;
}

.portfolio__item:hover .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 480px;
  height: 100%;
  max-height: 796px;
  background-color: #fff;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.mobile-menu__conteiner {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  height: 796px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  width: 480px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  margin-bottom: 302px;
}
.mobile-menu-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.mobile-menu-list__item_current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.mobile-menu-contact {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 64px;
}
.mobile-menu-contact__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
.mobile-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-menu-social {
  display: flex;
}
.mobile-menu-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1px;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mobile-menu-social__title {
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-menu-social__title:nth-child(-n+3) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-social__title:first-child {
  padding-left: 0px;
}/*# sourceMappingURL=main.css.map */