h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}


ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
    border-radius: 4px;
    font-family: inherit;
}

button:hover,
button:focus {
    font-family: inherit;
}

body {
    background-color: #FFFFFF;
    color: #212121;
    font-family: Roboto, sans-serif;
}